name: CI/CD Terraform QuickSight

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: # Permite execução manual
    inputs:
      destroy_infra:
        description: 'Deseja destruir toda a infraestrutura? (true/false)'
        required: true
        default: 'false'
        type: boolean

jobs:
  terraform:
    name: 'Terraform Workflow'
    runs-on: ubuntu-latest
    
    # Define o diretório padrão para evitar repetições
    defaults:
      run:
        working-directory: ./terraform

    steps:
    - name: Checkout Código
      uses: actions/checkout@v3

    - name: Configurar Credenciais AWS
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Instalar Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_wrapper: false

    - name: Terraform Init
      run: terraform init

    # O Plan roda tanto em PR quanto em Push na Main para garantir validação
    - name: Terraform Plan
      run: terraform plan
      env:
        TF_VAR_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
        TF_VAR_quicksight_user_arn: ${{ secrets.QUICKSIGHT_USER_ARN }}
        TF_VAR_dashboard_id: ${{ secrets.DASHBOARD_ID }}

  # Passo de Destruição (Só roda se acionado manualmente com true)
    - name: Terraform Destroy
      if: ${{ github.event.inputs.destroy_infra == 'true' }}
      run: terraform destroy -auto-approve
      env:
        TF_VAR_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
        TF_VAR_quicksight_user_arn: ${{ secrets.QUICKSIGHT_USER_ARN }}
        TF_VAR_dashboard_id: ${{ secrets.DASHBOARD_ID }}

    # O Apply só roda se for um PUSH na branch MAIN (após o merge do PR)
    - name: Terraform Apply
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && github.event.inputs.destroy_infra != 'true' }}
      run: terraform apply -auto-approve
      env:
        TF_VAR_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
        TF_VAR_quicksight_user_arn: ${{ secrets.QUICKSIGHT_USER_ARN }}
        TF_VAR_dashboard_id: ${{ secrets.DASHBOARD_ID }}

    # Sincronização do Frontend só após o Apply na Main
    - name: Upload index.html to S3
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        BUCKET_NAME=$(terraform output -raw s3_bucket_name)
        aws s3 cp ../src/index.html s3://$BUCKET_NAME/index.html