name: CI/CD Terraform QuickSight - Controle Manual

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      action:
        description: 'Escolha a ação desejada (Plan sempre será executado)'
        required: true
        default: 'plan'
        type: choice
        options:
          - plan
          - apply
          - destroy

jobs:
  terraform:
    name: 'Terraform Workflow'
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./terraform

    steps:
    - name: Checkout Código
      uses: actions/checkout@v3

    - name: Configurar Credenciais AWS
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Instalar Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_wrapper: false

    - name: Terraform Init
      run: terraform init

    # O Plan roda em todos os casos (Push, PR e Manual)
    - name: Terraform Plan
      run: terraform plan
      env:
        TF_VAR_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
        TF_VAR_quicksight_user_arn: ${{ secrets.QUICKSIGHT_USER_ARN }}
        TF_VAR_dashboard_id: ${{ secrets.DASHBOARD_ID }}
        TF_VAR_acm_certificate_arn: ${{ secrets.ACM_CERTIFICATE_ARN }}

    # Apply: EXCLUSIVAMENTE MANUAL via interface do GitHub
    - name: Terraform Apply
      if: ${{ github.event.inputs.action == 'apply' }}
      run: terraform apply -auto-approve
      env:
        TF_VAR_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
        TF_VAR_quicksight_user_arn: ${{ secrets.QUICKSIGHT_USER_ARN }}
        TF_VAR_dashboard_id: ${{ secrets.DASHBOARD_ID }}
        TF_VAR_acm_certificate_arn: ${{ secrets.ACM_CERTIFICATE_ARN }}

    # Sincronização do Frontend: Só ocorre se o Apply manual for bem-sucedido
    - name: Update API URL in HTML - API ID
      if: ${{ github.event.inputs.action == 'apply' }}
      run: |
        API_URL=$(terraform output -raw api_gateway_url)
        sed -i "s|https://SUA-API-ID.execute-api.region.amazonaws.com/get-url|$API_URL|g" ../src/index.html

    # Sincronização do Frontend: Só ocorre se o Apply manual for bem-sucedido
    - name: Update API URL in HTML LOGIN_URL
      if: ${{ github.event.inputs.action == 'apply' }}
      run: |
        LOGIN_URL=$(terraform output -raw cognito_login_url)
        sed -i "s|SUA_COGNITO_LOGIN_URL_AQUI|$LOGIN_URL|g" ../src/index.html

    - name: Upload index.html to S3
      if: ${{ github.event.inputs.action == 'apply' }}
      run: |
        BUCKET_NAME=$(terraform output -raw s3_bucket_name)
        aws s3 cp ../src/index.html s3://$BUCKET_NAME/index.html

    # Destroy: EXCLUSIVAMENTE MANUAL via interface do GitHub
    - name: Terraform Destroy
      if: ${{ github.event.inputs.action == 'destroy' }}
      run: terraform destroy -auto-approve
      env:
        TF_VAR_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
        TF_VAR_quicksight_user_arn: ${{ secrets.QUICKSIGHT_USER_ARN }}
        TF_VAR_dashboard_id: ${{ secrets.DASHBOARD_ID }}